pandas
biopython
torch
beautifulsoup4
sentencepiece==0.1.99
transformers==4.51.3
qwen_vl_utils
accelerate
datasets
esm
requests
biotite
pymupdf4llm
pymupdf
torch
torchvision
layoutparser
SQLAlchemy==1.4.54
chonkie[st]
chonkie[model2vec]
pysam
lxml
pgvector
adapters
colpali-engine>=0.3.0
